public/avatars/253739.webp
public/avatars/03-rose.svg
public/avatars/06-teal.svg
public/avatars/aricato.avif
public/avatars/berserk.jpg
public/avatars/wp2007561.jpg
public/avatars/wp4507676.jpg
public/maps/rift.avif
public/maps/riftRaptors.jpg
